// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../resource';
import * as Core from '../../../core';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request();
   * ```
   */
  request(body: AuditRequestParams, options?: Core.RequestOptions): Core.APIPromise<unknown> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(
    auditId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(`/corporate/compliance/audits/${auditId}/report`, options);
  }
}

export type AuditRequestResponse = unknown;

export interface AuditRetrieveReportResponse {
  /**
   * The period covered by this audit report.
   */
  periodCovered: unknown;
}

export interface AuditRequestParams {}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
